.btn {
	padding: 1rem;
	border-radius: 10px;
	margin-top: 1rem;
	border: none;
	line-height: 2rem;
	background-color: #413620;
	cursor: pointer;
	box-shadow: 0.4rem 0.5rem 0.3rem #000;
	font-size: 1.7rem;
	transition: 0.7s;
	outline: none;
	color: #ffd791;
}

.btn:hover {
	box-shadow: none;
	font-weight: bold;
}

.progress {
	border-radius: 7px;
	width: 80%;
	height: 22px;
	margin-left: -11.5%;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.progress::-webkit-progress-bar {
	background-color: yellow;
	border-radius: 7px;
}
.progress::-webkit-progress-value {
	background-color: blue;
	border-radius: 7px;
	box-shadow: 1px 1px 5px 3px rgba(255, 0, 0, 0.8);
}
