.btn {
	padding: 1rem;
	border-radius: 10px;
	margin-top: 1rem;
	border: none;
	line-height: 2rem;
	background-color: #413620;
	cursor: pointer;
	box-shadow: 0.4rem 0.5rem 0.3rem #000;
	font-size: 1.7rem;
	transition: 0.7s;
	outline: none;
	color: #ffd791;
}

.btn:hover {
	box-shadow: none;
	font-weight: bold;
}
